[DataLoader]
MOT_folder = data/MOT20/train
detection_folder = data/MOT20/yolox
detection_path = det/det.txt
image_path = img1
detector = FRCNN
ini_file_path = seqinfo.ini
dataset = MOT20

[Detector]
det_mode = yolox
nms_thres=0.45
nms_flag=True
high_thres = 0.6
low_thres = 0.1
track_init_thres = 0.7
exp_file = yolox_x_standard.py
chkpt_file = bytetrack_x_mot17.pth.tar
half = True

[MotionModel]
motion_cp_path = models/transformer_seq_length/transformer_50/2022_63_18_28_45/checkpoints/latest_model.ckpt
motion_model = kalman
arch=transformer
nhead=8
feature_size=128
linear_feature_size=2048
num_layers=4
bbox_dim=4
warp_dim=6
N= 50
warp_path=data/motion_model/warp_matrix/MOT20
use_warp=False
vel_only=True


[ReID]
reid_model_path = models/Re-Identification/mining_compare/hard_easy/06_27_2022_15_59/checkpoints/best_model.ckpt
embedding_dim=2048
project_dim = 128
normalize_embeddings = True
t_img_h = 224
t_img_w = 224
save_embedding=True
use_saved_embedding = False

[TrackerInfo]
tracking_filename = Re-Identification-average
save_video = True
online_det = True
experiment_name = mining_compare/hard_easy
save_imgs = True
dmr_path = /home/group-cvg/cvg-students/sshah/d_m_r
train_mode = True

[TrackerParams]
max_age=40
min_hits=2
beta = 0.5
iou_thres = 0.6
iou_thres_2 =0.5
visual=True
min_box_area = 100
embedding_distance_type = embedding_lp_similarity_matrix
bbox_distance_type = iou_matrix